# Database
DATABASE_USER=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_PASSWORD=postgres
DATABASE_NAME=finking

# Security
HASHING_SALT=10
JWT_ACCESS_SECRET=your_jwt_access_secret_key_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key_here
CORS_ORIGINS=http://localhost:3000,http://localhost:4200

# Redis Cache & BullMQ
REDIS_HOST=localhost
REDIS_PORT=6379

# Email Service (Nodemailer for BullMQ Export)
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=